@media (min-width: 0px) and (max-width:992px){
    .header__section .header__rectangle .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu li {
        padding: 0 20px;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .footer__section .footer__section__area{
        margin: 35px 25px!important;
    }
    section{
        margin: 64px 30px;
    }
    
}



/* ---------------------------------------------------- */
/* ----------------------------------------------------- */
/* ------------------------------------------------- */
/* Small Mobile Screen starts from 0 to 576px */
/* ----------------------------------------------------- */
    
@media (min-width: 0px) and (max-width:767px){
    .main__menu_section__ellipse ,.main__menu_section__layouts{
        display: none;
    }
    .main__menu__subtract{
        display: none;
    }

    .main__menu__section .main__menu__left__area {
        padding: 24px 12px 24px 12px;
        margin: 24px 40px;
        text-align: center;
    }
    .main__menu__section .main__menu__left__area h1 {

        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .main__menu__section .carousel .carousel-inner {
        height: auto;
    }


    .main__menu__subtract{
        display: none;
    }
    .main__menu__section .carousel .main__menu_section__buttons{
        text-align: center;
    }
    .main__menu__section .carousel .main__menu_section__buttons {
        margin-left: 0px;
        margin-top: 0px;
    }
    .main__menu__section .main__menu__right__area {
        text-align: center;
        margin: 30px 30px;
        padding: 0px;
    }
    .customized__solution__section .customized__solution__text {
        padding: 24px 12px;
    }
    .btn__outline1{
        display: none;
    }
    .customized__solution__section .customized__solution__text {
        padding: 0px 12px 24px;
    }
    .our__forms .tab-content .btn__layout1 span {
        margin-right: 0px;
    }
    .portfolio__section {
        padding: 38px;
    }
    .portfolio__section .portfolio__section__area h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 97.5%;
    }
    .portfolio__section .portfolio__section__area p{
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .our__range__section h1{    
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .our__journey__section h1{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        
    }
    .our__journey__section p{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
        
    }
    .our__journey__section .our__journey__item__area{
        padding: 0px;
    }
    .frame2_button{
        width: 88px;
        height: 30px;
        font-size: 12px;
        margin: 1rem 1rem 1rem 0px;
    }
    .header__section .header__nav__items__top span{
        font-size: 12px;
    }
    .main__menu__text h1{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .main__menu__text p{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
    }
}



/* ---------------------------------------------------- */
/* ----------------------------------------------------- */
/* ------------------------------------------------- */
/* Tablet Screen starts from 768 to 991px */
/* ----------------------------------------------------- */

@media (min-width: 768px) and (max-width:991px){
    .main__menu__subtract{
        display: none;
    }
    .main__menu__section .main__menu__left__area h1 {

        font-weight: 700;
        font-size: 35px;
        line-height: 74px;

    }
    .main__menu__section .main__menu__left__area {
        margin: 25px 60px 0 40px;
        padding: 0;
    }
    .main__menu__section .carousel .carousel-inner {
        height: auto;
    }
    .main__menu__section .carousel .main__menu_section__buttons {
        margin-left: 32px;
        margin-top: 0px;
    }
    .customized__solution__section .customized__solution__text h1 {
        margin-top: 8px;
        font-size: 27px;
        line-height: 29px;
    }
    .customized__solution__section .customized__solution__text p {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    .customized__solution__section .customized__solution__text {
        padding: 9px 40px 0px;
    }
    .eco__friendly__section {
        padding: 30px;
    }
    .portfolio__section {
        padding: 86px;
    }
    .portfolio__section .portfolio__section__area h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 97.5%;
    }
    .portfolio__section .portfolio__section__area p{
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
}




/* ---------------------------------------------------- */
/* ----------------------------------------------------- */
/* ------------------------------------------------- */
/* Laptop Screen starts from 992px to 1199px */
/* ----------------------------------------------------- */

@media (min-width: 992px) and (max-width:1199px){
    .main__menu__section .main__menu__left__area h1{
        font-size: 38px;
        line-height: 74px;
    }
    .main__menu__section .carousel .main__menu_section__layouts .main__menu_section__layouts___buttons .main__menu_section__layouts___button1 span{
        font-size: 11px;
    }
    .customized__solution__section .customized__solution__text h1 {
        margin-top: 16px;
        font-size: 28px;
        line-height: 35px;
        color: var(--bs-blue-color-normal);
    }
    .customized__solution__section .customized__solution__text {
        padding: 22px 40px 3px;
    }
}




/* ---------------------------------------------------- */
/* ----------------------------------------------------- */
/* ------------------------------------------------- */
/* large Screen starts from 1200px >= */
/* ----------------------------------------------------- */

@media (min-width: 1200px) and (max-width:1268px){
    .main__menu__section .carousel .main__menu_section__layouts .main__menu_section__layouts___buttons .main__menu_section__layouts___button1 span {
        font-size: 14px;
    }
}
@media (min-width: 0px) and (max-width:299px){
    .our__forms .nav .nav-item button {
        font-size: 13px;
        padding: 9px;
    }
    .our__forms .nav .nav-item span {
        padding: 0px;
        text-align: center;
    }
    .our__forms .tab-content .tab-pane {
        padding: 10px;
        padding-top: 25px;
    }
}
@media (min-width: 300px) and (max-width:499px){
    .our__forms .nav .nav-item button {
        font-size: 13px;
        padding: 9px;
    }
    .our__forms .nav .nav-item span {
        padding: 0px;
        text-align: center;
    }
    .our__forms .tab-content .tab-pane {
        padding: 0 12px;
        padding-top: 25px;
    }
    .our__forms .tab-content #profile {
        padding: 0 20px;
        padding-top: 25px;
    }
}
@media (min-width: 500px) and (max-width:682px){
    .our__forms .nav .nav-item button {
        
        font-size: 18px;
        padding: 10px;
       
    }
}
@media (min-width: 683px) and (max-width:1283px){
    .our__forms .nav .nav-item button {
        font-size: 32px;
        padding: 0px;
    }
}
@media (min-width: 1283px){
    .our__forms .nav .nav-item button {
        font-size: 32px;
        padding: 27px 230px 27px 36px;
    }
}
@media (min-width: 1200px){
    .main__menu__section .main__menu__left__area{
        padding: 54px 0px 54px 0;
        margin: 54px 0px 54px 54px;
    }
    .customized__solution__section .customized__solution__text h1 {
        font-size: 38px;
        line-height: 45px;
    }
}



@media (min-width: 260px) and (max-width:450px){
    .customized__solution__section .customized__solution__text h1 {
        
        font-size: 17px;
        line-height: 34px;
    }
    .customized__solution__section .customized__solution__text p {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}
@media (min-width: 451px) and (max-width:600px){
    .customized__solution__section .customized__solution__text h1 {

        font-size: 29px;
        line-height: 34px;
    }
    .customized__solution__section .customized__solution__text p {
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
    }
}
@media (min-width: 601px) and (max-width:767px){
    .customized__solution__section .customized__solution__text h1 {

        font-size: 32px;
        line-height: 32px;
    }
    .customized__solution__section .customized__solution__text p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
    }
}


@media (min-width: 260px) and (max-width:289px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;  
        left: 100px;
        right: 92px;
        top: 686px;
    }
}
@media (min-width: 290px) and (max-width:319px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 124px;
        right: 123px;
        top: 686px;
    }
}
@media (min-width: 320px) and (max-width:349px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 140px;
        right: 123px;
        top: 686px;
    }
}
@media (min-width: 350px) and (max-width:369px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 140px;
        right: 118px;
        top: 710px;
    }
}
@media (min-width: 370px) and (max-width:399px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 118px;
        top: 749px;
    }
}
@media (min-width: 400px) and (max-width:424px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 140px;
        top: 749px;
    }
}
@media (min-width: 425px) and (max-width:454px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 161px;
        top: 787px;
    }
}
@media (min-width: 455px) and (max-width:474px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 161px;
        top: 814px;
    }
}
@media (min-width: 475px) and (max-width:504px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 161px;
        top: 849px;
    }
}
@media (min-width: 505px) and (max-width:529px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 161px;
        top: 880px;
    }
}
@media (min-width: 530px) and (max-width:547px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 161px;
        top: 910px;
    }
}
@media (min-width: 548px) and (max-width:654px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 161px;
        top: 880px;
    }
}
@media (min-width: 655px) and (max-width:749px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 161px;
        top: 880px;
    }
}
@media (min-width: 750px) and (max-width:767px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
        right: 161px;
        top: 880px;
    }
}
@media (min-width: 768px) and (max-width:769px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
    }
}
@media (min-width: 768px) and (max-width:789px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -38px;
        left: 195px;
    }
}
@media (min-width: 790px) and (max-width:809px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -51px;
        left: 195px;
    }
}
@media (min-width: 810px) and (max-width:829px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -61px;
        left: 204px;
    }
}
@media (min-width: 830px) and (max-width:849px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -123px;
        left: 204px;
    }
}
@media (min-width: 850px) and (max-width:869px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -123px;
        left: 204px;
    }
}
@media (min-width: 870px) and (max-width:889px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -133px;
        left: 204px;
    }
}
@media (min-width: 890px) and (max-width:909px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -144px;
    }
}
@media (min-width: 910px) and (max-width:929px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -155px;
    }
}
@media (min-width: 930px) and (max-width:949px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -166px;
    }
}
@media (min-width: 950px) and (max-width:969px){
    .main__menu__section .carousel .carousel-indicators{
        bottom: -179px;
    }
}


@media (min-width: 970px) and (max-width:991px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -192px;
    }
}
@media (min-width: 992px) and (max-width:1002px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -94px;
    }
}

@media (min-width: 1003px) and (max-width:1022px){
    .main__menu__section .carousel .carousel-indicators {
        bottom: -109px;
    }
}
@media (min-width: 768px){
    .our__forms .tab-content .btn__layout1__positioning{
        justify-content: end;
    }
    .our__forms .tab-content #profile h2 {
        color: var(--bs-blue-color-normal);
        font-style: normal;
        font-size: 45px;
        line-height: 56px;
    }
}
@media (max-width: 767px){
    .our__forms .tab-content .btn__layout1__positioning{
        justify-content: center;
    }
    .our__forms .tab-content #profile label {
        font-size: 15px;
        line-height: 18px;
    }
    .our__forms .tab-content #profile h2 {
        color: var(--bs-blue-color-normal);
       
    }
    .our__forms .tab-content #profile p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        color: #38485B;
    }
    .our__forms .our__form__sample__kit__area {
        margin-top: 0px;
    }
    .eco__friendly__section .eco__friendly__images {
        margin-top: 60px;
        text-align: center;
    }
    .finish__style__section h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .finish__style__section {
        padding: 0px 0px 0 0px;
    }
    .finish__style__title{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    .eco__friendly__section {
        padding: 60px 20px;
    }
    .eco__friendly__heading__description{
        width: 100%;
    }
    .eco__friendly__section .eco__friendly__heading__area .eco__friendly__heading__description p {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
    }
    .eco__friendly__h2{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }
    .choose__us__slider__text{
        display: none;
    }
}
@media (max-width: 992px){
    .eco__friendly__heading__btn{
        display: none !important;
    }
}
@media (min-width: 0px) and (max-width:576px){
    .eco__friendly__section .eco__friendly__styles{
        margin-top: 0px;
    }
}