@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabinet Grotesk';
}

h1 , h2 , h3 , h4 , h5, h6{
    color:var(--bs-blue-color-normal)
}
.container{
    max-width: 1462px !important;
}
a{
    text-decoration: none;
    color: var(--bs-blue-color-normal);
}
section{
    margin: 64px 96px;
}
:root {
/* ------------------------------------ */
    /* Orange Colors Styles */
    /* --------------------------------------------- */

    /* color */
    --bs-orange-color-light: #fff5e8;
    --bs-orange-color-light-hover: #ffefdd;
    --bs-orange-color-light-active: #ffdfb8;
    --bs-orange-color-normal: #ff971a;
    --bs-orange-color-normal-hover: #e68817;
    --bs-orange-color-normal-active: #cc7915;
    --bs-orange-color-dark: #bf7114;
    --bs-orange-color-dark-hover: #995b10;
    --bs-orange-color-dark-active: #73440c;
    --bs-orange-color-darker: #593509;

    /* Dark */
    --bs-orange-dark-lighter: #ffd098;
    --bs-orange-dark-light-hover: #ffc783;
    --bs-orange-dark-light-active: #ffbb6a;
    --bs-orange-dark-normal: #ff971a;
    --bs-orange-dark-normal-hover: #d98016;
    --bs-orange-dark-normal-active: #ba6e13;
    --bs-orange-dark-dark: #593509;
    --bs-orange-dark-dark-hover: #402607;
    --bs-orange-dark-dark-active: #1c1103;

    /* Surface */
    --bs-orange-surface-white: #ffffff;
    --bs-orange-surface-white-hover: #fffaf4;
    --bs-orange-surface-white-active: #ffeeda;
    --bs-orange-surface-light: #fffaf4;
    --bs-orange-surface-light-hover: #ffeeda;
    --bs-orange-surface-light-active: #ffe5c6;
    --bs-orange-surface-normal: #fff5e8;
    --bs-orange-surface-normal-hover: #ffe8cd;
    --bs-orange-surface-normal-active: #ffdcb1;
    --bs-orange-surface-dark: #ffefdd;



    /* ------------------------------------ */
    /* Blue Colors Styles */
    /* --------------------------------------------- */


    /* color */
    --bs-blue-color-lighter: #a2abd1;
    --bs-blue-color-lighter-hover: #8f9bc7;
    --bs-blue-color-lighter-active: #7886bc;
    --bs-blue-color-normal: #304598;
    --bs-blue-color-normal-hover: #293b81;
    --bs-blue-color-normal-active: #23326f;
    --bs-blue-color-dark: #111835;
    --bs-blue-color-dark-hover: #0c1126;
    --bs-blue-color-dark-active: #050811;

    /* Dark */
    --bs-blue-dark-light: #eaecf5;
    --bs-blue-dark-light-hover: #e0e3f0;
    --bs-blue-dark-light-active: #bfc5df;
    --bs-blue-dark-normal: #304598;
    --bs-blue-dark-normal-hover: #2b3e89;
    --bs-blue-dark-normal-active: #26377a;
    --bs-blue-dark-dark: #243472;
    --bs-blue-dark-dark-hover: #1d295b;
    --bs-blue-dark-dark-active: #161f44;
    --bs-blue-dark-darker: #111835;
    
    /* Surface */
    --bs-blue-surface-white: #ffffff;
    --bs-blue-surface-white-hover: #f5f6fa;
    --bs-blue-surface-white-active: #dee1ef;
    --bs-blue-surface-light: ##f5f6fa;
    --bs-blue-surface-light-hover: #dee1ef;
    --bs-blue-surface-light-active: #cbd1e5;
    --bs-blue-surface-normal: #eaecf5;
    --bs-blue-surface-normal-hover: #d1d6e8;
    --bs-blue-surface-normal-active: #b9c0dc;
    --bs-blue-surface-dark: #e0e3f0;

    --bs-blue-footer-text-color:#1C2E44;



/* -----------------------------------------------------------------------/     */
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}

/* ---------------------------- */
     /* Sample Styles Codes starts */
/* ----------------------------*/

.btn__outline1{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    gap: 4px;
    width: 157px;
    height: 41px;
    color: white;
    border-radius: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.btn__layout1{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:0px;
    gap: 4px;
    width: 157px;
    height: 41px;
    background: #FF971A;
    border-radius: 24px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.product__tag{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:11px 12px 16px;
    gap: 10px;
    color: var(--bs-blue-color-normal);
    position: absolute;
    background: #FF971A;
    border-radius:20px 0 24px 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 9999;

}

/* ---------------------------- */
     /* Button Styles ends here */
/* ----------------------------*/


/* ----------------------------------------------------------------- */


/* ---------------------------- */
     /* Header Code starts */
/* ----------------------------*/



.frame2_button{

/* Auto layout */


flex-direction: row;
justify-content: center;
align-items: center;
border:0px;
gap: 4px;
width: 120px;
height: 40px;
background: #FF971A;
border-radius: 8px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.fa-envelope{
    color: #FF971A;
    background: #FF971A;
    ;
}
.header__rectangle{

/* position: absolute;
width: 1268px; */
height: 96px;
left: 216px;
top: 76px;  
padding: 0 0 0 10px;

/* Light Accent */

background: #E9EBEE;
border-radius: 24px;
}
.header__section .header__nav__items__top span{
    color: var(--bs-blue-color-normal);
}
.header__nav__items__top{
    margin: 1rem;
}
.header__items__area__links{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    margin-right: 24px;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    color: var(--bs-blue-color-normal);
}
.header__items__area__links:hover{
    color:var(--bs-blue-color-dark-hover)
}

.header__section .header__rectangle .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .header__items__area__links img{
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__section .header__rectangle .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .header__items__area__links span {
    width: 75px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--bs-blue-footer-text-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header__section .header__rectangle .navbar .navbar-collapse{
    background-color: #E9EBEE;
    padding: 20px;
}


/* ---------------------------- */
  /* Header Code ends here */
/* ----------------------------*/



/* ---------------------------- */
  /* Main Menu style Starts here */
/* ----------------------------*/
.main__menu__section{

        background-image: url('../images/carousel_main_rectangle.png');
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: cover;
        border-radius: 64px 64px 0 64px;
}


.main__menu__section{
    margin-top:24px;
}

.main__menu__section .main__menu__right__area{
    
    text-align: end;
    padding: 20px 30px 20px 0;
}

.main__menu__section .main__menu__left__area{
    
    padding: 54px 77px 54px 0;
    margin: 54px 54px;
}
.main__menu__section .main__menu__left__area h1{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 80px;
    color: #E9EBEE;
}

.main__menu__section .carousel .carousel-indicators{
    
   
  
    position: absolute;
    right: -194px;
    bottom: -119px;
    left: 482px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}
.main__menu__section .carousel .carousel-inner{
    height: 340px;
}

.carousel-indicators [data-bs-target] {
    background-color: black!important;
}

.main__menu__section .carousel .main__menu_section__buttons {
    margin-left: 40px;
    margin-top: 24px;
}
.main__menu__section .carousel .main__menu_section__buttons .main__menu_section__ellipse {
color: #FFFFFF;
margin-top: 24px;
}
.main__menu__section .carousel .main__menu_section__buttons .main__menu_section__ellipse .main__menu_section__ellipse__images{
    margin-left: 16px;
}
.main__menu__section .carousel .main__menu_section__buttons .main__menu_section__ellipse .main__menu_section__ellipse__images img{
    
}
.main__menu__section .carousel .main__menu_section__buttons .main__menu_section__button1{
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px;
    gap: 4px;
    padding: 8px 24px;
    background: #FF971A;
    border-radius: 24px;
    flex: none;
    order: 0;

}
.main__menu__section .carousel .main__menu_section__buttons .main__menu_section__button2{
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    gap: 4px;
    color: white;
    border-radius: 24px;
    order: 0;

}
.main__menu__section .carousel .main__menu_section__buttons .main__menu_section__button1 span{
  
    font-style: normal;
    /* font-weight: 700; */
    font-size: 20px;
    line-height: 25px;
}
.main__menu__section .carousel .main__menu_section__buttons .main__menu_section__button2 span{
   
    font-style: normal;
    /* font-weight: 700; */
    font-size: 20px;
    line-height: 25px;
}
.main__menu__section .carousel .main__menu_section__buttons .main__menu_section__button2 a{
    color: var(--bs-blue-surface-white);
    text-decoration: none;

}
.main__menu__section .carousel .main__menu_section__buttons .main__menu_section__button2 a{
    color: var(--bs-blue-surface-white);
    text-decoration: none;

}
.main__menu__section .carousel .main__menu_section__layouts{
    margin-left: 40px;
}

.main__menu__section .carousel .main__menu_section__layouts .main__menu_section__layouts___buttons .main__menu_section__layouts___button1{
    align-items: baseline;
    padding: 4px 10px;
    margin: 0 4px;
    border: none;
    background: #FFFFFF;
    border-radius: 16px;
}

.main__menu__section .carousel .main__menu_section__layouts .main__menu_section__layouts___buttons .main__menu_section__layouts___button1 span{
    color: var(--bs-blue-color-normal);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 124px;
    height: 22px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
/* ---------------------------- */
  /* Main Menu style ends here */
/* ----------------------------*/


/* ---------------------------- */
  /* Partners style Starts here */
/* ----------------------------*/

.partner__section__image{
    text-align: center;
}
.partner__section{
    margin: 64px;
}
.owl-item {
    width: 151px; margin-right: 45px;
}
.partner__section .owl-carousel .owl-nav.disabled{
    display: none !important;
}
.partner__section .owl-carousel .owl-dots.disabled{
    display: none !important;
}

/* ---------------------------- */
/* Partners style ends here    */
/* ----------------------------*/


/* ---------------------------- */
  /* customized__solution style Starts here */
/* ----------------------------*/



.customized__solution__section {
    
    background: #E0E3F0;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border-radius: 64px;
}
.customized__solution__section .customized__solution__image{
    vertical-align: middle;
    padding: 39px 0;

}
.customized__solution__section .btn__outline1{
    color: var(--bs-blue-color-normal)!important;
    border: 1px solid var(--bs-blue-color-normal);
    border-radius: 8px;
    width: 82px;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
}
.customized__solution__section .sustainable__menu .btn__layout1{
    background: var(--bs-blue-color-normal);
    font-family: 'Nunito Sans'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--bs-blue-surface-white);
    line-height: 175%;
    border-radius: 12px;
}
.customized__solution__section .sustainable__menu .btn__layout1 span{
    color: var(--bs-blue-surface-white);
}

.sustainable__page__section{
    background: #8CC63F;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border-radius: 64px 0px;

}

.customized__solution__section .customized__solution__text{
    padding: 66px 40px;
}
.customized__solution__section .customized__solution__area{
    width: 100%;
    text-align: center;
}
.customized__solution__section .customized__solution__text a{
    text-decoration: none !important;
    color: var(--bs-blue-color-normal)!important;
}
.customized__solution__section .customized__solution__text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: var(--bs-blue-footer-text-color);
}
.customized__solution__section .customized__solution__text h1{
    /* Headers/Header 1 */
    margin-top: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: var(--bs-blue-color-normal);
}

/* ---------------------------- */
  /* customized__solution__section style ends here */
/* ----------------------------*/

/* --------------------------------------------------------------- */

/* ---------------------------- */
/* Our range Code starts here*/
/* ----------------------------*/
    
.our__range__section button h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: var(--bs-blue-color-normal);
}
.our__range__section button{
    border: #f0f8ff00;
}
.our__range__section .toggle__area{
        border-radius: 32px;
        background: #E9EBEE;
        padding: 1rem;
}
.our__range__section .toggle__area li{
    list-style-type: none;
}
.our__range__section .our__range__item {
    margin: 8px;
    border:8px solid var(--bs-blue-dark-light-active);
    border-radius: 28px;
}
.our__range__section h4{
    margin-top: 16px;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: var(--bs-blue-color-normal);
}
.our__range__section .our__range__item .eco-friendly{

    background: #8CC63F;

}
.our__range__section .our__range__item .best-selling{
    background: #F0A500;;
}
.eco__friendly__heading__description{
    width: 60%;
}
.eco__friendly__heading__btn{
    width: 40%;
}

/* ---------------------------- */
     /* Our range Code ends here */
/* ----------------------------*/


/* ---------------------------- */
/* our__forms Code starts here */
/* ----------------------------*/

.our__forms{
    /* background: url('../images/our__forms/our__forms__bg.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.our__forms .home__bg{
    background: var(--bs-blue-color-normal);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    border-radius: 56.5px 0px 0px 0px;
}
.our__forms #home{
    background: var(--bs-blue-color-normal);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 0 0 64px 64px;

}
.our__forms .profile__bg{
    background: #FF971A;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    border-radius: 0px 56.5px 0px 0px;
    color: var(--bs-blue-color-normal);
}
.our__forms #profile-tab{
    color:var(--bs-blue-color-normal);
}
.our__forms #profile{
    background: #FF971A;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.our__forms .nav .nav-item button{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding: 27px 230px 27px 36px;
    color: #FF971A; 
}
.our__forms .nav .nav-item span{
    padding: 27px;

text-align: center;
}
.our__forms .nav-tabs{
    text-align: -webkit-center;
}
.nav-tabs .nav-link.active{
    background: none;
    border: none;
}
.our__forms .tab-content h2,p{
    color: var(--bs-blue-color-normal);
}
.our__forms .tab-content .tab-pane{
    padding: 25px;
}
input[type="text"]::-webkit-input-placeholder {
    color: #E9EBEE;
}
.our__forms .tab-content .form-group input{
    background: transparent;
    border: 2px solid white;
    
}
.our__forms .tab-content .form-group textarea{
    background: transparent;
    border: 2px solid white;
    height: 200px;
    
}
.our__forms .tab-content .form-group select{
    border: 2px solid white;
    color: white;
    background-color: rgba(255, 255, 255, 0);

    
}
.our__forms .tab-content .form-group input ::placeholder{
    color: white;
}
.our__forms .tab-content .form-group textarea ::placeholder{
    color: white;
}
.our__forms .form-group label{
    color: white;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    margin-top: 40px;
}

.our__forms .tab-content .btn__layout1{
    border-radius: 8px;
    margin-top: 45px;
    padding: 8px 16px;
    width: 362px;
    height: 48px; 
    margin: 50px;  
}
.our__forms .tab-content .btn__layout1 a{
    text-decoration: none;
    color: var(--bs-blue-color-normal);
}

.our__forms .tab-content .btn__layout1 span{
    /* margin-right: 140px; */
}


.drop-zone {
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #ffffff;
    border-radius: 10px;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }


  /* .our__forms .tab-content #profile h2{
    color: var(--bs-blue-color-normal);
    font-style: normal;
    font-size: 45px;
    line-height: 56px;
  } */

.our__forms .tab-content #profile p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #38485B;    ;
}
  .our__forms .tab-content #profile label{
    color: var(--bs-blue-color-normal);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 25px;
  }
  .our__forms .tab-content .tab-pane{
    padding :0 60px;
    padding-top: 25px;
  }
  .our__forms .tab-content #profile input{
    border: 1px solid black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
  }
  .our__forms .tab-content .tab-pane .our__form__sample__kit__area .btn__layout1{
    background: var(--bs-blue-color-normal);
    border-radius: 8px;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 8px 16px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    
  }
  .our__forms .tab-content .tab-pane .btn__layout1 span{
        color: var(--bs-blue-surface-white);
  }
  .our__forms .our__form__sample__kit__area{
    margin-top: 40px;
  }
  
/* ---------------------------- */
/* our__forms Code ends here */
/* ----------------------------*/




/* ------------------------------------------------------------------- */

/* ---------------------------- */
    /* Choose us Code starts here */
/* ----------------------------*/

.choose__us__section{
    background: var(--bs-orange-surface-normal-active);
    margin-right: 0;
    margin-left: 0;
    padding: 64px 0px 64px 96px;
}
.choose__us__section .choose__us__area{
    /* margin: 64px 94px; */
}
.choose__us__section .choose__us__area h1{
    font-weight: 700;
    font-size: 45px;

}
.choose__us__section .choose__us__slider__area{
    /* padding: 174px 0 114px 97px; */
}

.choose__us__section .choose__us__slider__area .choose__us__slider {
   
    width: 289px;

background: rgba(255, 255, 255, 0.5);
border-radius: 16px;
}
.choose__us__section .choose__us__slider__area .choose__us__slider .choose__us__slider__img{
    text-align: center;
}

.choose__us__section .choose__us__slider__area .choose__us__slider img{
    padding: 15px 12px;
    width: 265px;
    text-align: center;
    height: 159px;
    background: rgba(255, 255, 255, 0.3);
}
.choose__us__section .choose__us__slider__area .choose__us__slider h2{
    margin-left: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.choose__us__section .choose__us__slider__area .choose__us__slider p{
    /* margin-top: 18px; */
    padding: 12px;
}
.slider__spacing{
    margin-right: 70px;
}


/* ---------------------------- */
    /* Choose us Code ends here */
/* ----------------------------*/
/* ------------------------------------ */
    /* Finish Styles Code starts here */
/* ----------------------------------*/
/* ----------------------------*/


.finish__style__section{
    padding: 64px 64px 0 64px;
}
.finish__style__section .btn__layout1{
    background:var(--bs-blue-color-normal);
    color: var(--bs-blue-surface-white);
    
}
.finish__style__section h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
}

.finish__style__section .finish__style__area{
    background: var(--bs-blue-color-dark);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border-radius: 24px;
}
.finish__style__section .finish__style__area img{
    /* padding: 150px 0px 0 0px;     */
}
.finish__style__section .finish__style__area__horizental{
    background: var(--bs-blue-color-dark);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border-radius: 24px;
    margin-bottom: 16px;
}
.finish__style__section .finish__style__area__horizental h2{
    /* margin-top: 200px; */
    margin-left: 24px;
    color: var(--bs-blue-surface-white);
}

.finish__style__section .finish__style__area__horizental img{
    border-radius: 0 0 23px 0;
    
}
/* .finish__style__section .finish__style__area__horizental .finish__style__product3{
    
} */

/* ------------------------------------ */
    /* Finish Styles Code starts here */
/* ----------------------------------*/

/* ------------------------------------ */
/* eco_friendly section Code starts here */
/* ----------------------------------*/

.eco__friendly__section{
    background: url('../images/eco__friendly__section/eco_friendly_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 64px 0px;
    padding: 64px;
    margin-right: 0px;
    margin-left: 0px;
}
.eco__friendly__section .eco__friendly__heading__area .eco__friendly__heading__description p{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #1C2E44;
    text-align: justify;
}

.eco__friendly__section .eco__friendly__heading__area .eco__friendly__heading__btn .btn__layout1{
    background: #8CC63F;
    font-family: 'Nunito Sans'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    border-radius: 12px;
}
.eco__friendly__section .eco__friendly__heading__area .eco__friendly__heading__btn a{
    color: var(--bs-blue-footer-text-color);
}
.eco__friendly__section .eco__friendly__heading__area .eco__friendly__heading__btn a:hover{
    color: var(--bs-blue-color-dark-hover);
}
.eco__friendly__section .eco__friendly__styles .eco__friendly__shape{
    width: 75px;
height: 75px;
    background: #8CC63F;
}
.eco__friendly__section .eco__friendly__styles .eco__friendly__shape img{
    padding: 24px;
}
.eco__friendly__section .eco__friendly__styles h2{
    font-style: normal;
    font-weight: 700;
    margin-top:8px;
    font-size: 16px;
    line-height: 20px;
    color: var(--bs-blue-color-normal);
}
.eco__friendly__section .eco__friendly__styles p{
    color: black;
}
.eco__friendly__section .eco__friendly__styles{
    margin-top: 60px;
}
.eco__friendly__section .eco__friendly__images {
    margin-top: 60px;
    text-align: end;
    
}
.eco__friendly__section .eco__friendly__images img{
    padding: 8px;
    width: 80%;
    gap: 10px;
}
/* ------------------------------------ */
/* eco_friendly section Code ends here */
/* ----------------------------------*/




/* ------------------------------------ */
/* our__review section Code starts here */
/* ----------------------------------*/
.our__review .row{
    margin-top: 12px;
}

.our__review h2{

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
}
.our__review .btn__layout1{
    border-radius: 12px;
    background: var(--bs-blue-color-normal);
    color: var(--bs-blue-surface-white);
  
}

.owl-theme .owl-dots{
    text-align: right!important;
}
.owl-theme .owl-nav{
    text-align: left!important;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block !important;
}

.our__review .btn__layout1 span{
    font-size: 20px;
    line-height: 25px;
}

.our__review .our__review__items{
    padding: 30px;
    margin-top:40px;
    background:  var(--bs-orange-surface-light);
    border-radius: 28px;
  
} 

.our__review__bg{
    background: var(--bs-blue-dark-light)!important;
}
.our__review .our__review__items .our__review__star img{
    width: 5% !important;
    margin-right: 2px;
    padding: 0;
}
.our__review .our__review__items p{
    margin-top: 18px;
}
.our__review .our__review__items .our__review__people img{
    margin-top: 20px;
    width: 50px;
}
.our__review .our__review__items .our__review__people .our__review__text {
    margin:25px 25px 25px 15px;
}
.our__review .our__review__items .our__review__people .our__review__text h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0px;
}
.our__review .our__review__items .our__review__people .our__review__text span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.our__review .full__review__page{
    border-bottom: 4px solid var(--bs-blue-color-normal);
    width: 22rem;
}

/* ------------------------------------ */
/* our__review  section Code ends here */
/* ----------------------------------*/





/* ------------------------------------ */
/* contact__us section Code starts here */
/* ----------------------------------*/

.contact__us{
    background: var(--bs-blue-color-normal  );

    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 60px;
    border-radius: 28px;

}

.contact__us .row{
    text-align: -webkit-center;
}
.contact__us .contact__us__email{
    background: url('../images/contact__us/contac__us__ellipse.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 130px;
    height: 130px;
    padding: 50px 50px;
    margin-top:24px;
}
.contact__us h5{
    margin-top: 18px;
    margin-bottom: 12px;
    color: var(--bs-blue-surface-white);
}
.contact__us p{
    margin-bottom: 5px;
    color: var(--bs-blue-surface-white);
}

/* ------------------------------------ */
/* contact__us section Code ends here */
/* ----------------------------------*/
/* --------------------------------------- */
/* our__journey section Code starts here */
/* -------------------------------------*/

.our__journey__section{
    background: url(../images/portfolio/portolio__journey__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-right: 0px;
    margin-left: 0px;
    padding: 40px;
}
.our__journey__section  h1{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
}
.our__journey__section p{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}
.our__journey__section .our__journey__item__area p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.our__journey__section .our__journey__item__area{
    padding: 0 180px;
    text-align: -webkit-center;
}
.our__journey__section .our__journey__item__area .our__journey__item{
    background-image: url(../images/our__journey/our__journey__item__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
    height: 80px;
    width: 80px;
    margin-top: 66px;
    padding: 17px;
}
.our__journey__section .our__journey__item__area  p{
    margin-top: 20px;
}

/* --------------------------------------- */
/* our__journey section Code ends here */
/* -------------------------------------*/
/* ---------------------------------------------- */
/* premium__finishes__section Code starts here */
/* ----------------------------------------------*/

.premium__finishes__section{
    margin: 64px 95px;
}
.premium__finishes__section .finish__style__area{
    background: url(../images/premium__finishes/metallic__foiling.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border-radius: 28px;
    width: 612px;
    height: 612px;
}

/* ---------------------------------------------- */
/* premium__finishes__section Code ends here */
/* ----------------------------------------------*/


/* ---------------------------------------------- */
/* main__menu__text Code starts here */
/* ----------------------------------------------*/


.main__menu__text h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
}

.main__menu__text p{

    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
}

/* ---------------------------------------------- */
/* main__menu__text Code starts here */
/* ----------------------------------------------*/
/* ---------------------------------------------- */
/* packaging__choose__us Code starts here */
/* ----------------------------------------------*/

.packaging__choose__us{
    background: url(../images/premium__packaging/premium__packaging.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    margin-right: 0px;
    margin-left: 0px;
    padding: 64px 95px;
    
}
.packaging__choose__us .packaging__choose__us__area{
    
}
.packaging__choose__us .packaging__choose__us__area .packaging__choose__us_images{
    padding: 12px;
}
.packaging__choose__us .packaging__choose__us__area .packaging__choose__us_images h6{
    color: var(--bs-blue-surface-white);
    margin-top: 8px;
}
.packaging__choose__us h1{
    color: var(--bs-blue-surface-white);
}

/* ---------------------------------------------- */
/* packaging__choose__us Code edns here */
/* ----------------------------------------------*/
/* ---------------------------------------------- */
/* Reviews__section Code starts here */
/* ----------------------------------------------*/
.partner__section h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    /* identical to box height */

text-align: center;
}
/* ---------------------------------------------- */
/* Reviews__section Code ends here */
/* ----------------------------------------------*/


/* ----------------------------------- */
  /* portfolio__section code starts here */
/* ------------------------------------*/

.portfolio__section{
    background: url(../images/portfolio/portfolio__banner__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 64px;
    padding: 138px;
}
.portfolio__section .portfolio__section__area{
    color: white !important;
}
.portfolio__section .portfolio__section__area h1{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 97.5%;
    text-align: center;
}
.portfolio__section .portfolio__section__area p{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}
/* ----------------------------------- */
  /* portfolio__section code ends here */
/* ------------------------------------*/
/* --------------------------------------------- */
  /* environment__friendly__section code starts here */
/* ------------------------------------------------*/

.environment__friendly__section__area{
        background: rgba(140, 198, 63, 0.3);
        background-size: cover;
        object-fit: cover;
        background-repeat: no-repeat;
        border-radius: 16px;
        width: 294px;
        padding: 12px;
        margin-top: 35px;
}
.environment__friendly__section__area h2{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.environment__friendly__section__area p{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}

/* --------------------------------------------- */
  /* environment__friendly__section code ends here */
/* ------------------------------------------------*/
/* --------------------------------------------------- */
  /* sustainable__full__width__section code starts here */
/* --------------------------------------------------*/

.sustainable__full__width__section{
    background: var(--bs-blue-color-normal);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 0px;
}

.sustainable__full__width__section .sustainable__recycle__area{
    padding: 91px 140px;
}
.sustainable__full__width__section .sustainable__recycle__area .sustainable__recycle__text{
    width: 250px;
    margin-top: 25px;
}
.sustainable__full__width__section .sustainable__recycle__text h3{
    color: var(--bs-blue-surface-white);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
.sustainable__full__width__section .sustainable__recycle__text p{
    color: var(--bs-blue-surface-white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.sustainable__full__width__section  .sustainable__recycle__item img{
    background: #8CC63F !important;
    padding: 14px !important;
}

/* --------------------------------------------------- */
  /* sustainable__full__width__section code ends here */
/* --------------------------------------------------*/
/* --------------------------------------------------- */
  /* Category___page section code starts here */
/* --------------------------------------------------*/
.category__page__section{
    background: url(../images/category__page/category__page__bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 64px;
}

.category__page__section .category__main__menu__area h1{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 97%;
}
.category__page__section .category__main__menu__area p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}

.category__page__section .category__main__menu__area{
    vertical-align: middle;
}
/* --------------------------------------------------- */
  /* Category___page section code ends here */
/* --------------------------------------------------*/
/* --------------------------------------------------- */
  /* button__slider section code starts here */
/* --------------------------------------------------*/
.button__slider .category__page__btn .btn__layout1{
    background-color: var(--bs-blue-color-normal);
    width: 99px;
    height: 28px;
}
.button__slider .category__page__btn .btn__layout1 span{
    color: var(--bs-blue-surface-white);
    font-size: 14px;
    line-height: 17px;
}

.button__slider .owl-nav.disabled{
    display: none !important;
}
.button__slider .owl-dots.disabled{
    display: none !important;
}

.toggle_category {
    width: 100%;
    padding: 0px;
    background-color: #E9EBEE;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
  }


/* --------------------------------------------------- */
  /* button__slider section code ends here */
/* --------------------------------------------------*/
/* --------------------------------------------------- */
  /* category__descriotion__section tab code starts here */
/* --------------------------------------------------*/

.category__descriotion__section .category__descriotion__area h3{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #304598;
}
.category__descriotion__section .category__descriotion__area p{
    margin-top: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #1C2E44;
}
.nav-tabs .nav-link.active{
    color: var(--bs-blue-color-normal);
}
.nav-tabs .nav-link{
    font-weight:600;
    font-size: 14px;
    color: var(--bs-blue-dark-darker);
}

/* --------------------------------------------------*/
/* --------------------------------------------------- */
  /* category__descriotion__section tab code ends here */
/* --------------------------------------------------*/
/* --------------------------------------------------- */
  /* Blog main Menu Section code starts here */
/* --------------------------------------------------*/

.blog__main__menu__section .blog__main__menu__title h1{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 81px;
}
.blog__main__menu__section .blog__main__menu__item h2{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    color: #232E52;
}
.blog__main__menu__section .blog__main__menu__item .btn__layout1{
    border-radius: 8px;
}
.blog__main__menu__section .blog__main__menu__item  p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #232E52;
}

.blog__detail__section {
    background: url(../images/blog__page/blog__page__main__bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
    border-radius: 32PX;
    margin-right: 0px;
    margin-left: 0px;
    padding: 100px 200px;
}

.blog__detail__section .blog__detail__area .frame2_button{
    width: 146px;
    height: 36px;
}
.blog__detail__section .blog__detail__area .frame2_button span{
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 120%;
}
.blog__detail__section .blog__detail__area h1{
    font-style: normal;
    width: 70%;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    color: var(--bs-blue-surface-white);
}
.blog__description__section .highlighted__description{
    background: #E0E3F0;
    border-radius: 8px;
    box-shadow: inset 0px 4px 0px #1D54C0;
}
.blog__description__section .blog__description__area{
    padding: 0 140px;
}
.blog__description__section .blog__description__area p{
    font-style: normal;
    font-weight: 500;
    text-align: justify;
    font-size: 18px;
    line-height: 150%;
    color: var(--bs-blue-footer-text-color);
}
.blog__description__list__area h1{
    margin-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #232E52

}
.blog__description__list__area h2{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 130%;
    color: #232E52;

}
.blog__description__list__area p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #232E52;
}
.blog__description__list__area .blog__main__menu__area .blog__main__menu__item .btn__layout1 span{
    color: #232E52;
}
/* --------------------------------------------------- */
  /* Blog main Menu Section code ends here */
/* --------------------------------------------------*/
/* --------------------------------------------------- */
  /* FAQ page section code starts here */
/* --------------------------------------------------*/

.faq__page__section .accordion-item{
    border: solid rgba(128, 128, 128, 0);
    background: #E0E3F0;
    border-radius: 16px;
    margin: 24px;
}
.faq__page__section .accordion-item .accordion-button{
    background: #E0E3F0;
}
.faq__form__Section{
    background: #FFE5C6;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 64px;
    padding: 3rem;
}
.faq__form__Section .faq__form__heading h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: var(--bs-blue-footer-text-color);
}
.faq__form__Section .faq__form__heading p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: var(--bs-blue-footer-text-color);
}
.faq__form__Section .faq__form__area input{
    border: 1px solid var(--bs-blue-color-normal);
    background-color: transparent;
}
.faq__form__Section .faq__form__area input::placeholder{
   color: var(--bs-blue-color-dark);
}
.faq__form__Section .faq__form__area textarea{
    border: 1px solid var(--bs-blue-color-normal);
    background-color: transparent;
}
.faq__form__Section .faq__form__area .btn__layout1{
    border: 0px;
    gap: 4px;
    width: 318px;
    height: 48px;
    background: var(--bs-blue-color-normal);
    border-radius: 8px;
}
.faq__form__Section .faq__form__area .btn__layout1 span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    color: var(--bs-blue-surface-white);
    text-transform: uppercase;
}
/* --------------------------------------------------- */
  /* FAQ page section code ends here */
/* --------------------------------------------------*/
/* --------------------------------------------------- */
  /* contact__page__section code starts here */
/* --------------------------------------------------*/

.contact__page__section .contact__form__area{
    background:url(../images/contact__page/contact__form__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 64px;
}
.contact__page__section .contact__page__contact__area{
    background: url(../images/contact__page/contact__page__contact__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    /* height: 899px; */
    border-radius: 64px;
    text-align: center;
}
.contact__page__section .contact__page__contact__area p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: var(--bs-blue-footer-text-color);
}
.contact__page__section .contact__page__contact__area h5{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--bs-blue-footer-text-color);
}
.contact__page__section .contact__page__contact__area img{
    background: #304598;
    padding: 18px;
    border-radius: 50%;
}    

.contact__page__section .contact__page__social__links{
    background:none!important;
}

.contact__page__section .contact__form__area h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #E9EBEE;
}
.contact__page__section .contact__form__area p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #E9EBEE;
}
.contact__page__section .contact__form__area label{
    color: #E9EBEE;
}
.contact__page__section .contact__form__area input{
    background-color: transparent;
}

.contact__page__section .contact__form__area span{
    letter-spacing: 0.25px;
    text-transform: uppercase;
    color: var(--bs-blue-color-normal);
}
.contact__page__section .contact__form__area input::placeholder{
    color: #A8A8A8;
}
.contact__page__section .contact__form__area textarea{
    background-color: transparent;

}
.contact__page__section .contact__form__area textarea::placeholder{
    color: #A8A8A8;
}
.contact__page__section .contact__form__area .btn__layout1{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
/* --------------------------------------------------- */
  /* contact__page__section code ends here */
/* --------------------------------------------------*/


/* --------------------------------------------------- */
  /* about__us__section code starts here */
/* --------------------------------------------------*/

.about__us__section .about__us__images__area .image__style1{
    margin-top: 70px;

}     
.about__us__section .about__us__images__area .image__style2{
    margin-top: 130px;
}     
.about__us__section .about__us__images__area .image__style3{
    margin-top: 104px;
}     
.about__us__section .about__us__images__area .image__style4{
    margin-top: 17px;
}     


.about__us__section .about__us__code__heading h1{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 81px;
    color:var(--bs-blue-color-normal)    
}

.about__us__design__section .about__us__design__area{
    background:var(--bs-blue-color-normal);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 64px;
}

.about__us__design__section .about__us__design__area h3{
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: var(--bs-orange-dark-normal);
}
.about__us__design__section .about__us__design__area p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: var(--bs-blue-surface-white);
}

.about__us__design__section .about__us__design__image{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100%;
    border-radius: 64px;
}


/* --------------------------------------------------- */
  /* about__us__section code ends here */
/* --------------------------------------------------*/

/* -------------------------------- */
/* ---------------------------- */
     /* Footer Code starts */
/* ----------------------------*/


.footer__section .footer__section__area{
    margin: 120px 135px;
}
.footer__section{
    background: #E0E3F0
}

.footer__logo__text{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    color: var(--bs-blue-footer-text-color);
}
.footer__area{
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--bs-blue-color-normal);
}




.footer__items__area__payment__method{   
    text-align: center;
    display: flex!important;
}
.footer__items__area__links{
    text-decoration: none;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
    color: var(--bs-blue-footer-text-color);
}
.footer__items__area__links:hover{
    color:var(--bs-blue-color-dark-hover)
}
.footer__list__style{
    list-style-type: none;
}
.footer__place{
    text-align: left;
}


.footer__section .footer__place .footer__area__image img{

}

/* ---------------------------- */
  /* Footer Code ends here */
/* ----------------------------*/